COPYING
INSTALL
depcomp
install-sh
missing
Makefile
Makefile.in
.deps
.dirstamp
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
stamp-h1
**/*.o
**/Boil
**/.deps/
**/*.a
Src/*.bck
Src/*.cpp
Src/*.dat
Src/*.mcr
Src/*.lay
Src/*.plt
Src/*.stl
Src/*.txt
Src/main*.cpp*
Src/Parallel/mpi_macros.h
Src/Unstructured/Solver/Solver
Src/Utilities/ChangeProc/ChangeProc
Src/Utilities/Connect/Connect
Src/Utilities/Gather/*.exe
Src/Utilities/Gather/*.mod
Src/Utilities/MovieScript/MovieScript
